/*
mobile chage widt is 510px
*/

body{
    background-color: #FAE1DF;
    font-family: 'Press Start 2P', cursive;
}

#menu{
    position: absolute;
    z-index: 2;
    background-color: #6A0136;
    color: #fae1df;
    text-align: center;
    padding: 10px;
    width: min-content;
    margin-left: -10px;
    margin-top: -10px;
    font-size: 50px;

}
#topbar{
    width: 0;    
    left: -35px;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6A0136;
    overflow-x: hidden;
    transition: 0.5s;
}

#topbar h1{
    color: #f1f1f1;
    margin-left: calc(20% + 250px);
    font-size: xx-large;
    margin-top: 70px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6A0136;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    margin-top: 30px;
  }
  
  .sidebar a:hover {
    color: #818181;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;

  }


  #bod{
    margin-left: 50%;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
  }



